@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(./fonts.css);

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}
body {
  --accent_focus: #00c6f4;
  --accent_base: #882eff;
  --accent_comp: #4463d1;
  --base: #0b031c;
  --base_focus: #36104c;
  --text_primary: #eeeeee;
  --text_secondary: #121212;
  --danger: #ff04c8;
  --transparent: #ffffff38;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--base);
  color: var(--text_primary);
  transition-duration: 0.45s;
}

body.light {
  --accent_focus: #6100ff;
  --accent_base: #769cff;
  --accent_comp: #0139ff;
  --base: #f6f5ef;
  --base_focus: #e0e0e0;
  --text_primary: #121212;
  --text_secondary: #eeeeee;
  --transparent: #00000038;
  --danger: #bc2323;
}

@media screen and (max-width: 992px) {
  * {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  * {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  * {
    font-size: 14px;
  }
}

h1 {
  font-family: Brinnan;
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-family: Brinnan;
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-family: Brinnan;
  font-size: 1.17em;
  font-weight: 700;
}

h4 {
  font-family: Brinnan;
  font-size: 1em;
  font-weight: 700;
}

h5 {
  font-family: Brinnan;
  font-size: 0.83em;
  font-weight: 400;
}

h6 {
  font-family: Brinnan;
  font-size: 0.67em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 300;
}
